<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Weather for {{location}}</title>
</head>

<body>
	<img src='{{image1}}'>
	<img src='{{image2}}'>
	<img src='{{image3}}'>
	<img src='{{image4}}'>
	<img src='{{image5}}'>

	<form action="/main.html">
	    <input type="submit" value="Go back to Home Page" />
	</form>
</body>

</html>