<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Weather for {{location}}</title>
</head>

<body>
	<h1>Weather for {{location}}</h1>
	<p>High Temperature: {{high}}</p>
	<p>Low Temperature: {{low}}</p>
	<p>Icon: <img src="https://s1.twnmm.com/images/en_us/icons/wxicons_large/1.png" id='images'><p>
	<script>if (`{{icon}}` == 'rain') {
		console.log('eh');
		document.getElementById('images').src = "https://s1.twnmm.com/images/en_ca/icons/wxicons_large/28.png";
	};</script>

	<form action="/main.html">
	    <input type="submit" value="Go back to Home Page" />
	</form>
</body>

</html>